*, *::after, *::before{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
select{
    margin: 5px;
}
button{
    margin-top: 10px;
    margin-bottom: 15px;;
}
#main{
    width: 600px;
}
h1{
    text-align: center;
}
.circleContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.circle{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    transition: all 300ms;
}
.circle:hover{
    transform: scale(1.1);
}
.targetToClick{
    cursor: pointer;
}

/* Kode til de forskjellige temaene */
body.default-theme{
    background-color: white;
    color: black;
}
body.default-theme .circle{
    background-color: darkmagenta;
}
body.default-theme .circle.targetToClick{
    background-color: gold;
}
body.dark-theme{
    background-color: #1a1a1a;
    color: antiquewhite;
}
body.dark-theme .circle{
    background-color: rgb(76, 137, 74);
}
body.dark-theme .circle.targetToClick{
    background-color: rgb(163, 210, 135);
    filter: blur(3px);
}
body.blue-theme{
    background-color: #001f3f;
    color: #00d9ff;
}
body.blue-theme .circle{
    background-color: rgb(68, 138, 219);
}
body.blue-theme .circle.targetToClick{
    background-color: rgb(69, 191, 221);
    filter: drop-shadow(5px 5px 10px rgb(77, 121, 240));
}
body.Stephanie-theme{
    background-color: #1c1c1c;
    color: #e0e0e0;
}
body.Stephanie-theme .circle{
    background-color: #7c73e6;
}
body.Stephanie-theme .circle.targetToClick{
    background-color: #fafafa;
    filter: blur(3px);
}
